.book {
    padding: 30px;
}

.bookContent {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bookImage {
    width: 30%;
    height: 300px;
    background-color: snow;
    object-fit: contain;
    padding: 20px;
    box-shadow: 0 0 1px 2px snow;
    border-radius: 7px;
    margin-right: 20px;
}

.info {
    width: 60%;
}

.bookTitle {
    font-size: 32px;
}

.author {
    color: gray;
    font-size: 21px;
    margin: 15px 0;
    font-weight: 600;
}

.author span {
    color: teal;
}

.addToCart {
    margin: 30px 0;
}

.bookAddToCart {
    font-size: 25px;
    margin-right: 15px;
    font-weight: 600;
    padding: 5px 10px;
}

.cartBtn {
    background-color: transparent;
    border: 1px solid green;
    color: green;
    border-radius: 7px;
    font-size: 21px;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cartBtn:hover {
    background-color: aquamarine;
}

.description {
    width: 80%;
    font-size: 21px;
    line-height: 1.8;
}

.bookIcons {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.bookIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
    font-size: 21px;
    color: teal;
}

.bookIcon small {
    font-weight: 600;
}

@media (max-width: 720px) {
    .book {
        padding: 30px 15px;
    }
    .description {
        width: 100%;
    }
    .bookAddToCart {
        margin-bottom: 15px;
    }
}

@media (max-width: 520px) {
    .bookContent {
        flex-direction: column;
    }
    .bookImage {
        width: 100%;
    }
    .info {
        width: 100%;
        margin-top: 15px;
    }
    .bookIcons {
        flex-direction: column;
    }
    .bookIcon {
        font-size: 25px;
        margin: 0 0 50px;
    }
}