.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-radius: 8px;
  width: 65%;
  padding: 20px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d; 
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.closeButton:hover {
  background-color: #e60000;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookImage {
  width: 300px;
  height: auto;
}

.wrapper {
  flex: 2;
  padding-left: 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 15px;
}

.status,
.author,
.bookPrice {
  font-size: 28px;
  margin-bottom: 15px;
}

.bookPrice span {
  font-weight: bold;
}

.addItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.quantityInput {
  width: 50px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addToCart {
  display: flex;
  align-items: center;
  background-color: #2ecc71;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.addToCart:hover {
  background-color: #27ae60;
}

.cartIcon {
  margin-right: 5px;
}

.detailsLink {
  display: inline-block;
  margin-top: 10px;
  background-color: #0e486f;
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.detailsLink:hover {
   background-color: #0f6caa;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .image {
    display: none;
  }

  .wrapper {
    padding-left: 0;
    text-align: center;
  }
}
